{% extends 'base.html' %}
{% block content %}
<style>
  .blog-header-logo{
    font-size: 3.5rem;
    text-decoration: underline;
    float: center;
  }
</style>
<div class="container my-3">
    <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-center align-items-center">
      <div>
        <a class="blog-header-logo text-dark" href="{% url 'index' %}">Joojh</a>
      </div>
    </div>
    </header>
    <form method="post" class="post-form my-3">
        {% csrf_token %}
        {% include "common/form_errors.html" %}
        <div class="form-group">
            <label for="content">comment</label>
            <textarea class="form-control"name="content" id="content"
                      rows="3">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">submit</button>
        <a href="/" class="btn btn-secondary">cancel</a>
    </form>
</div>
{% endblock %}